<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
<th>id</th>
<th>firstname</th>
<th>lastname</th>
<th>salary</th>
<th>role</th>

<%data.forEach(data=>{%>
<tr>
<td><%=data.id %></td>
<td><%=data.firstname %></td>
<td><%=data.lastname %></td>
<td><%=data.salary %></td>
<td><%=data.role %></td>
</tr>
<%})%>
</table>   
</body>
</html>