<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%include custom%>
</head>
<body>
<table align ='center'>
        <th>id</th> 
       <th>firstname</th> 
       <th>lastname</th> 
       <th>company</th> 
       <th>salary</th> 
     <% data.forEach(function (data) {  %>
     <tr>
     <td><%=data.id%></td>
     <td><%=data.firstname%></td>
     <td><%=data.lastname%></td>
     <td><%=data.company%></td>
     <td><%=data.salary%></td>
     </tr>         
    <%});%>
</table>
</body>
</html>