<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
       <th>id</th> <th>Instructor name</th> <th>Course name</th>

       <% data.forEach(data=>{ %>
        <tr>
           <td><%=data.id%></td>
            <td><%=data.instructor_name%></td>
            <td><%=data.course_name%></td>
        </tr>
        <% }) %> 
    </table>
    <br/>

    <table>
       <th>id</th> <th>Course name</th> <th>Instructor name</th>

       <% data2.forEach(data=>{ %>
        <tr>
           <td><%=data.id%></td>
           <td><%=data.course_name%></td>
        <td><%=data.instructor_name%></td>     
        </tr>
        <% }) %> 
</body>
</html>