<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
<th>Sum All Course Price</th>
<%data.forEach(data=>{ %>
  <tr>
  <td><%=data.sum%></td>
</tr>
<% }) %>
</table> 
<br/>

<table>
<th>ID</th> <th>Name</th> <th>Sum Course Price</th>
<%data2.forEach(data=>{ %>
  <tr>
  <td><%=data.id%></td>
  <td><%=data.name%></td>
  <td><%=data.sum%></td>
</tr>
<% }) %>
</table> 
</body>
</html>