<table>
<th>Id</th> <th>Course name</th> <th>Detail</th> <th>Price</th> <th>Teach by</th> <th>Created at</th>
    <%course.forEach(course=>{ %>
        <tr>
        <td><%=course.id%></td>
        <td><%=course.name%></td>
        <td><%=course.detail%></td>
        <td><%=course.price%></td>
        <td><%=course.teach_by%></td>
        <td><%=course.created_at%></td>
        </tr>
   <% })%>
   </table>