<table>
<th>Id</th> <th>Instructor name</th> <th>Create at</th>
<%instructor.forEach(instructor=>{%>
     <tr>
     <td><%=instructor.id%></td>
     <td><%=instructor.name%></td>
     <td><%=instructor.created_at%></td>
     </tr>
<% })%>
</table>
 
