<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
    <th>ID</th> <th>First name</th> <th>Last name</th> <th>Age</th> <th>Date</th>
        <% employee.forEach(employee=>{ %>
    <tr>
        <td><%=employee.id%></td>
        <td><%=employee.firstname%></td>
        <td><%=employee.lastname%></td>
        <td><%=employee.age%></td>
        <td><%=employee.date%></td>
    </tr>
   <% })%>
   
   </table>
   <br/>

   <table>
    <th>ISBN</th> <th>Title</th> <th>Price</th> <th>Date</th>
        <% book.forEach(book=>{ %>
    <tr>
        <td><%=book.isbn%></td>
        <td><%=book.title%></td>
        <td><%=book.price%></td>
        <td><%=book.date%></td>
    </tr>
   <% })%>
   </table>
   <br/>

<table>
    <th>ISBN</th> <th>ID</th> <th>Price</th> <th>Number</th> <th>Date</th>
        <% sell.forEach(sell=>{ %>
    <tr>
        <td><%=sell.isbn%></td>
        <td><%=sell.id%></td>
        <td><%=sell.price%></td>
        <td><%=sell.number%></td>
        <td><%=sell.date%></td>
    </tr>
   <% })%>
   </table>

</body>
</html>